<div class="card-container">
  <div class="card-title">
    <h5 class="title">Categories</h5>
  </div>
  <ng-container>
      <div class="card-body" cdkDropList>
          <ul class="unordered-category-list">
            <li *ngFor="let catg of categories;let i=index" (click)=readCategory(catg,i) (cdkDropListDropped)="drop($event)"  class="list-item">
              <p [ngClass]="{'highlight' : selectedIndex === i}">
                  
              {{catg.name}}
              </p>
            </li>
          </ul>
        </div>
  </ng-container>
</div>