<div mat-dialog-content>
  <h4>Please Enter the following details</h4>
   <form>
     <div class="inputfields">
        <p><input class="inputfield" type="text" name="fwname" placeholder="Enter Framework Name" [(ngModel)]="name"></p>
        <p><input class="inputfield" type="text" name="fwcode" placeholder="Enter Framework Code" [(ngModel)]="code"></p>
        <p><input class="inputfield" type="text" name="fwdesc" placeholder="Enter Framework Description" [(ngModel)]="description"></p>
        <p><input class="inputfield" type="text" name="fwchannel" placeholder="Enter Channel Id" [(ngModel)]="channel"></p>
      
     </div>
    </form> 
   <input type="file" name="myfile" id='myUploadInput' (change)="handleUpload($event)"/>
</div>
<div class="buttons">
  <button class="cancelbtn" mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
  <button class="confirmbtn" mat-raised-button color="primary" [mat-dialog-close]="data.action" (click)="sendReq()">Confirm</button>
</div>
