h4{
    text-align: center;
    font-weight: bold;
}
.inputfields{
    padding: 10px 0;
}
input.inputfield{    width: 70%;
    
        border: none;
        border-bottom: 1px solid black;
    
}
.buttons{
    text-align: center;
    padding-top: 20px;
}
.cancelbtn,.confirmbtn{
    margin: 0 10px;
}