h4{
    text-align: center;
    font-weight: bold;
}
.inputfields{
    padding: 10px 0;
}
input.inputfield{    width: 70%;
    
        border: none;
        border-bottom: 1px solid black;
    
}
.buttons{
    text-align: center;
    padding-top: 20px;
}
.cancelbtn,.confirmbtn{
    margin: 0 10px;
}
.materialcustombtn{
    background-color: #ccc9d2;
    color: white;
}
.subtermHierarchy{
    padding-left: 5px;
    .tooltiptext {
        visibility: hidden;
        width: 14rem;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
      
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
    

}
.subtermHierarchy:hover{
    .tooltiptext {
        visibility: visible;
        transition: 1s;
      }
}
  ::-webkit-scrollbar {
    width: 10px;
    background:white;

}

::-webkit-scrollbar-thumb {
    background-color:grey;
}