<div class="form-container">
  <form>
    <div class="div1">
      <div class="inputfield">
        <input type="text" name="fwcode" placeholder="Enter Framework Code" [(ngModel)]="fwcode">
        <span style="color: red;" *ngIf="flag">Invalid Framework Id</span>
      </div>
      <div class="buttons">
        <button class="btn btn-secondary" type="submit" (onEnter)="readFramework()"
          (click)="readFramework()">Retrieve</button>
        <button class="btn btn-secondary" type="submit" (click)="downloadExcel()">Download</button>
        <button class="btn btn-secondary" type="submit" (click)="clearFramework()">Clear</button>


        <span class="cstmbtn" *ngIf="publishStatus === 1">Framework Published Successfully</span>
        <span class="cstmbtn" style="color: red;" *ngIf="publishStatus === 2">Framework Could not Be published</span>
        <span class="cstmbtn" style="color: red;" *ngIf="publishStatus === 3">Enter framework Code</span>
        <button class="btn btn-secondary cstmbtn" (click)=publishFramework()>Publish</button>
      </div>
    </div>
    <div class="div2">
      <div class="upload-btn-wrapper">
        <button class="btn" (click)="create()">Create</button>
      </div>
      <div class="upload-btn-wrapper">
        <button class="btn" (click)="update()">Update</button>
      </div>
    </div>
    <div class="example-box" mwlDroppable (drop)="onDrop($event)" dragOverClass="drop-over-active">
      <span class="tooltiptext">Drag over to delete</span>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </div>
  </form>
</div>
<div class="allDetails">

  <div class="flex-wrapper-column">
    <app-categories (someEvent)="clearComponents($event)"></app-categories>
  </div>
  <div class="flex-wrapper-column">
    <app-terms (someEvent)="clearComponents($event)"></app-terms>

  </div>
  <div class="flex-wrapper-column">
    <app-subterms [subterms]="subterms"></app-subterms>

  </div>
  <ng-template #container></ng-template>

  <div class="flex-wrapper-column">
    <app-associations></app-associations>
  </div>
  <div class="flex-wrapper-column">

    <app-subtermsassociation></app-subtermsassociation>
  </div>
  <ng-template #container2></ng-template>
</div>