.form-container {
    display: inline-block;
    min-width: 100%;
    padding-right: 20px;
}
form{
    padding-top: 15px;
    padding-bottom: 15px;
}
input{
    border: none;
    border-bottom: 1px solid lightgray;
    padding-top: 0.8rem;
}
textarea:focus, input:focus{
    outline: none;
}

.allDetails{
    display: flex;
    overflow-x: auto;
    min-height: 77vh;
    .flex-wrapper-column {
        flex: 1;
        min-height: 40vh;
        padding: 0 4px;

        ::ng-deep .card-container {
            max-width: 45vh;
            min-width: 35vh;
    border-radius: 8px;
            background-color: #ebecf0;
            .card-title {
                margin-bottom: 10px;
                border-bottom: 1px solid lightgray;
            }
        }
    }
    
}
.allDetails{
    display: flex;
   ::ng-deep .flex-wrapper-column {
        flex: 1;
        min-height: 40vh;
        padding: 0 4px;

        ::ng-deep .card-container {
            max-width: 40vh;
    border-radius: 8px;
            background-color: #ebecf0;
            .card-title {
                margin-bottom: 10px;
                border-bottom: 1px solid lightgray;
            }
        }
    }
    
}
.div1,.div2,.inputfield,.buttons{
    float: left;

}
.div2{
    padding-left: 6rem;
}
.inputfield{
    margin-left : 12px;
    padding-right: 50px;
}
.inputText{
    margin-right: 12px;
}
.button-container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.btn{
    margin-left: 10px;
    margin-right: 10px;
    
}
table{
    width: 99%;
    margin: 5px;
    overflow-x: scroll;
    overflow-y: scroll;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .example-box {
    width: 50px;
    height: 50px;
    float: right;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    input[type=file]{ 
        color:transparent;
    }
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  button.cstmbtn{
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    float: none;
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 21px;
    font-weight: bold;
  }
  span.cstmbtn{
    position: absolute;
    right: 10rem;
    bottom: 21px;
    
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .example-box .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    bottom: auto;
    right: 128%;
  }
  
  .example-box:hover .tooltiptext {
    visibility: visible;
    top: -5px;
    bottom: auto;
    right: 128%;
  }
