<form>
  <div>
 <div class="inputfield">
  <input type="text" name="fwcode" placeholder="Enter Framework Code" [(ngModel)]="fwcode">
  <span style="color: red;" *ngIf="flag">Invalid Framework Id</span>
</div>
<div class="buttons">  
<button class="btn btn-secondary" type="submit" (onEnter)="readFramework()" (click)="readFramework()">Retrieve</button>
<button class="btn btn-secondary" type="submit" (click)="clearFramework()">Clear</button>
<button class="btn btn-secondary" type="submit" (click)="downloadExcel()">Download</button>
  

      <button class="btn btn-secondary"  (click)=publishFramework()>Publish</button>
      <span *ngIf="publishStatus === 1">Framework Published Successfully</span>
      <span style="color: red;" *ngIf="publishStatus === 2">Framework Could not Be published</span>
      <span style="color: red;" *ngIf="publishStatus === 3">Enter framework Code</span>
      
  <!-- <div class="example-box" cdkDrag (dragEnd)="drop($event, 'hello drag event')">
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div> -->
</div>
<div class="upload-btn-wrapper">
    <button class="btn" (click)="create()">Create</button>
  <!-- <input type="file" name="myfile" id='myUploadInput' (change)="handleUpload($event)"/> -->
</div>
<div class="upload-btn-wrapper">
    <button class="btn" (click)="update()">Update</button>
  <!-- <input type="file" name="myfile" /> -->
</div>
</div>
</form>

<div class="allDetails">
  <!--<table>
   <tr> <th>Categories</th>
    
    <th>Parent Terms</th>
    
    <th>Sub Terms</th>
    
    <th>Parent Terms Associations</th>
    
    <th>Sub Terms Associations</th>
    </tr>
    <tr>
      <td>
          <app-categories class="details"></app-categories>

      </td>
      <td>
          <app-terms class="details"></app-terms>
  
      </td>
      <td>
          <app-subterms class="details"></app-subterms>
 
      </td>
      <td>
          <app-associations class="details"></app-associations>
  
      </td>
      <td>
          <app-subtermsassociation class="details"></app-subtermsassociation>
      </td>
    </tr>
  </table>
-->
<div class="flex-wrapper-column">
<app-categories (someEvent)="clearComponents($event)"></app-categories>
</div>
<div class="flex-wrapper-column">
<app-terms (someEvent)="clearComponents($event)"></app-terms>

</div>
<div class="flex-wrapper-column">
  <app-subterms [subterms]="subterms"></app-subterms>

</div>  
  <ng-template  #container></ng-template>
  
<div class="flex-wrapper-column">
  <app-associations></app-associations>
</div>
<div class="flex-wrapper-column">

<app-subtermsassociation ></app-subtermsassociation>
</div>
<ng-template #container2></ng-template>
</div>