<div class="flex-wrapper-column">
<div class="card-container">
   <div class="card-title">
      <h5>Sub Term Associations-{{currentIndex+1}}</h5>

   </div>
   <ng-container *ngIf="subtermsAssociations?.length > 0 || subtermshierachicalData?.length > 0">
      <div class="card-body">
         <ul *ngIf="subtermshierachicalData.length === 0">
            <li *ngFor="let subTermAssociation of subtermsAssociations">
               <p style="margin-top: 10px;padding-left: 10px;" *ngIf="flag">
               {{subTermAssociation?.category}}-{{subTermAssociation?.name}}
               </p>
            </li>
         </ul>
         <ul *ngIf="subtermshierachicalData.length > 0">
            <li *ngFor="let subTermAssociation of subtermshierachicalData">
               <p style="margin-top: 10px;padding-left: 10px;" *ngIf="flag">
               {{subTermAssociation?.category}}-{{subTermAssociation?.name}}
               </p>
            </li>
         </ul>

      </div>
   </ng-container>
</div>
</div>