<div class="flex-wrapper-column">

<div class="card-container">
  <div class="card-title">
    <h5>Subterms-{{currentIndex+1}}</h5>

  </div>
  <ng-container>
    <div class="card-body">
      <ul *ngIf="subtermshierachicalData.length === 0">
        <li *ngFor="let subterm of subterms;let i=index" (click)=readSubTerm(subterm,i)  mwlDraggable (dragEnd)="dragEnd($event,subterm)">
          <p [ngClass]="{'highlight' : selectedIndex === i}">


            {{subterm.name}} </p>
        </li>
      </ul>
      <ul *ngIf="subtermshierachicalData.length > 0">
        <li *ngFor="let subterm of subtermshierachicalData;let i=index" (click)="readSubTerm(subterm,i)" mwlDraggable (dragEnd)="dragEnd($event,subterm)" >
          <p [ngClass]="{'highlight' : selectedIndex === i}">


            {{subterm.name}} </p>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
</div>