ul{
    padding: 0;
}
li{
    cursor:grab;
    .undefined{
        cursor: grab;
    }
}

.highlight{
    
    font-weight: bold;

}
.card-container{
    min-width: 35vh;
}
li{
    border-bottom: 1px solid #efe4e4;
    border-top: 1px solid #efe4e4;
    margin-bottom: 0.75rem;
    margin-top: 0.2em;
}
.card-body{
    max-height: 58vh;
    overflow-y: auto;
    padding: 0;

}
::-webkit-scrollbar {
 
    width: 10px;
    background:white;

}

::-webkit-scrollbar-thumb {
    background-color:grey;
}